/****** Config Files *******/
@import 'reset'

use_reset('meyer')
reset('all')
/***************************/

/****** Components *********/
@import 'general/vars.styl'
@import 'general/functions.styl'

/***************************/

*, *::after, *::before      
	box-sizing border-box 	
	font-weight 300
	transition all 0.2s ease
	
html
	height 100%
	
body
	width 100%
	height 100%
	overflow-x hidden
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
.content
	width $content
	margin 0 auto

select::-ms-expand {
    display: none;
}